*{
    margin: 0;
    padding: 0;
}

.header{
    font-size: 3rem;
    margin: 1rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-bottom: 1px solid black;
}
.header:hover{
    font-size: 4rem;
}

.content{
    font-size: 1rem;
    padding: 1.5rem;
    margin: 1rem 0rem;
    transition: 0.3s ease-in-out;
}
.work-btn{
    border: none;
    margin-top: 2rem;
    padding: 0.75rem 1.85rem;
    background-color: black;
    color: white;
    transition: 0.3s ease-in-out;
}
.work-btn:hover{
    background-color: white;
    color: black;
}